.home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
  }
  .container {
    display: flex;
    justify-content: space-around;
    align-items: end;
    width: 50%; 
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 10px;
    background-size: cover; /* Para asegurarse de que la imagen cubra toda la caja */
    background-position: center; /* Para centrar la imagen dentro de la caja */
  }
  
  .box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 338px;
    width:  200px;

  }
    .header-bottom {
      position: relative;
      top: 7.5vh;
      width: 100%;
      background-color: black;
      display: flex;
      justify-content: center;
      align-items: center;
      color: white;
      height: 7.5vh;
      padding-left: 40px;
      font-size: 0.9em;
  }
  .box h2 {
    color: white;
  }
  
